<!-- <app-screen1></app-screen1>
<app-screen2></app-screen2>
<app-screen3></app-screen3> -->

<swiper
  [direction]="'vertical'"
  [slidesPerView]="1"
  [spaceBetween]="0"
  [mousewheel]="true"
  [pagination]="{
    clickable: true
  }"
  class="mySwiper"
>
  <ng-template swiperSlide
    ><app-screen1 class="fill-screen"></app-screen1></ng-template
  ><ng-template swiperSlide
    ><app-screen2 class="fill-screen"></app-screen2></ng-template
  ><ng-template swiperSlide
    ><app-screen3 class="fill-screen"></app-screen3
  ></ng-template>
  <!-- <ng-template swiperSlide>Slide 4</ng-template
  ><ng-template swiperSlide>Slide 5</ng-template
  ><ng-template swiperSlide>Slide 6</ng-template
  ><ng-template swiperSlide>Slide 7</ng-template
  ><ng-template swiperSlide>Slide 8</ng-template
  ><ng-template swiperSlide>Slide 9</ng-template> -->
</swiper>
